@import url('https://fonts.googleapis.com/css?family=Lacquer|Trade+Winds&display=swap');
:root {
    --primary-color: rgb(7, 188, 233);
    --primary-color-darker: rgb(0, 75, 94);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Trade Winds', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 50px;
    align-items: center;
}

.calculadora {
    width: 400px;
}

.display {
    font-size: 2em;
    width: 100%;
    text-align: right;
}
.buttons {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.btn {
    width: 100%;
    height: 50px;
    font-size: 1em;
    border: none;
    background-color: antiquewhite;
    margin: 2px;
    cursor: pointer;
}

.btn:hover {
    background-color: black;
    color: white;
}






